// Services
@import 'mixins';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';

.services-list {
  padding-left: 15px;
  h1 {
    line-height: 1;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .position_class {
    float: left;
    margin: 15px;
  }

  .service-item {
    background: #f8f8f8 image-url('bg_service.png') 0 0 repeat;
    float: left;
    border: 1px solid #eaeaea;
    width: 30%;
    margin: 15px 15px;
    @include box-shadow(-5px 5px 5px 0px rgba(144, 144, 144, 0.75));
    border-radius: 7px;

    span {
      img {
        width: 100%;
        height: 200px;
      }
    }

    .introtext {
      padding: 15px 15px;
      background-color: #ffffff;
      @include box-shadow(0px -3px 5px 0px rgba(163, 163, 163, 0.75));
      @include border-bottom-right-radius(7px);
      @include border-bottom-left-radius(6px);

      h3 {
        font-weight: bold;
      }
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    display: table;
  }

  img {
    &.pull-left { margin-right: 15px; }
    &.pull-right { margin-left: 15px; }
  }
}


