@import 'mixins';

.sign-up {
  @include clearfix;
  padding: 30px 0 23px;

  h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  @media (min-width: 700px) {
    float: left;
    width: 100%;
  }

  .btn {
    width: 100%;

    @media (min-width: 700px) {
      width: 150px;
    }
  }

  .form-area {
    @media (min-width: 700px) {
      margin: 0;
      border-radius: 0;
      width: 700px !important;
    }
  }
}
