// Header
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';
@import 'mixins';

#header {
  padding-bottom: 24px;
  margin-bottom: -31px;
//  border-bottom: 7px solid white;
//  @include box-shadow(inset 0 -5px 5px -5px rgba(0, 0, 0, 0.15));
  @include clearfix;

  // Logo site
  .logo {
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  // Social buttons
  .social {
    text-align: center;
    margin-bottom: 10px;

    a {
      display: inline-block;
      font-size: 26px;
      margin-left: 10px;
      color: #858585;

      &:hover { color: #bbb; }
    }
  }

  // Site search
  .search {
    position: relative;
    width: 230px;
    margin: 0 auto 25px;

    input {
      border: 1px solid #ddd;
      border-bottom-color: white;
      border-right-color: white;
      padding-right: 23px;
      @include border-radius(5px);
    }

    button {
      position: absolute;
      padding: 7px;
      top: 0;
      right: 0;
      background: none;
      border: 0;
    }
  }

  // Sign links
  .sign_links {
    text-align: center;
    margin-bottom: 20px;

    a {
      margin-left: 15px;
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  // Responsive
  @media (min-width: 700px) {
    // Logo site
    .logo {
      margin-top: 28px;
      float: left;
      width: auto;
    }

    // Sign links
    .sign_links {
      float: right;
      margin: 29px 0 0;

      a { font-size: 14px; }
    }

    // Social buttons
    .social {
      float: right;
      clear: right;
      // margin: 40px 0 10px;
      margin: 10px 0 10px;
    }

    // Site search
    .search {
      float: right;
      clear: right;
    }
  }
}
