// Paginations

.pagination {
  list-style: none;
  font-size: 17px;
  color: #858585;

  li {
    display: inline-block;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}
